<!DOCTYPE html>
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="../Css/main.css")
        title Test


    body#confirmation_body
      div#confirmation_div
       p#confirmation Confirmation de votre commande, merci de nous avoir choisis !
         div#placement_init
          div#init


script(src="../confirmation.js")  