<!DOCTYPE html>
html(lang="fr")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="../Css/main.css")
		title Test


	body.main
		h1.MainTitle Orinoco
		ul.navbar
			li Accueil
			li.underline Produits
			li A propos
			li Contact
		h2.Products Produits:
		ul.Liste_produit
			li
				a(href="Produit.html")#OursMain
					div#img1.img
					p Ours en peluches
			li
				a(href="Produit.html")#CameraVintage
					div#img2.img
					p Caméras Vintages
			li
				a(href="Produit.html")#MeubleChene
					div#img3.img
					p Meubles en Chênes
					

script(src="../main.js") 

